<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jit.edu.paas.mapper.SysImageMapper">

    <select id="listLocalPublicImage" resultType="jit.edu.paas.domain.entity.SysImage">
        SELECT * FROM `sys_image`
        WHERE `type` = 1
        AND `name` like "%"#{name}"%"
    </select>

    <select id="listLocalUserImage" resultType="jit.edu.paas.domain.entity.SysImage">
        SELECT * FROM `sys_image`
        WHERE `type` = 2
        AND `name` like "%"#{name}"%"
        AND `has_open` = 1
    </select>
</mapper>
