<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jit.edu.paas.mapper.UserServiceMapper">
    <select id="listServiceByUserId" resultType="jit.edu.paas.domain.entity.UserService">
        SELECT * FROM `user_service`, `user_project`
        WHERE `user_service`.project_id = `user_project`.id
        <if test="userId != null" >
            AND `user_project`.user_id = #{userId}
        </if>
    </select>
</mapper>