<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jit.edu.paas.mapper.UserContainerMapper">
    <update id="cleanProjectId">
        UPDATE user_container
        SET project_id = NULL
        WHERE
            project_id = #{projectId}
    </update>
    <select id="hasBelongSb" resultType="java.lang.Boolean">
        SELECT
            count( * )
        FROM
            `user_container` AS `c`
        WHERE
            c.id = #{containerId}
            AND c.user_id = #{userId}
    </select>
    <select id="countByUserId" resultType="java.lang.Integer">
        SELECT
            count( * )
        FROM
            `user_container` AS `c`
        WHERE
            c.user_id = #{userId}
        <if test="status != null" >
            AND c.status = #{status}
        </if>
    </select>
    <select id="listContainerByUserIdAndNameAndStatus" resultType="jit.edu.paas.domain.entity.UserContainer">
        SELECT * FROM `user_container`
        WHERE 1 = 1
        <if test="userId != null" >
            AND `user_container`.user_id = #{userId}
        </if>
        <if test="name != null" >
            AND `user_container`.name like "%"#{name}"%"
        </if>
        <if test="status != null" >
            AND `user_container`.status = #{status}
        </if>
    </select>
</mapper>