<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jit.edu.paas.mapper.UserContainerMapper">
    <select id="listContainerById" resultType="jit.edu.paas.domain.entity.UserContainer">
        SELECT * FROM `user_container`, `user_project`
        WHERE `user_container`.project_id = `user_project`.id
		AND `user_project`.user_id = #{userId}
    </select>
</mapper>